.wrapper {
  background: linear-gradient(
    89.32deg,
    rgba(11, 31, 99, 0.842) 13.18%,
    rgba(80, 130, 187, 0.98) 44.49%,
    rgba(18, 47, 78, 0.726) 88.32%
  );
  height: 100%;
}

.background {
  background: linear-gradient(90deg, #011b2ce1 30.15%, #15547e 90.84%);
}

.signup_signin_res {
  @media screen and (max-width: 769px) {
    width: 80%;
  }
  @media screen and (max-width: 450px) {
    width: 90%;
  }
}
