@mixin capture {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px;
  background: #5d6a77;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
}

.monitor_wrapper {
  .monitor_section {
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 50vh;
    .folderName {
      background: #ffffff;
      box-shadow: 0px 4px 14px -7px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      width: 50%;
      padding: 2.5rem 2.5rem;
      height: fit-content;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
      .folderNameLabel {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        display: flex;
        align-items: center;
      }
      .folderNameInput {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px;
        border: 1px solid #d3d0d9;
        border-radius: 8px;
      }
      .folderNameButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 14px;
        background: #5d6a77;
        border-radius: 8px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 160%;
        color: #ffffff;
      }
    }
    .capture {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #ffffff;
      box-shadow: 0px 4px 14px -7px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      width: 45%;
      padding: 2rem;
      height: fit-content;
      @media screen and (max-width: 600px) {
        width: 100%;
        margin-top: 2rem;
      }
      .preview {
        border: 1px solid #d3d0d9;
        border-radius: 8px;
        width: fit-content;
        height: fit-content;
      }
      .capture_button_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @media screen and (max-width: 990px) {
          flex-direction: column;
        }
        .capture_button1 {
          @include capture;
          width: 40%;
          @media screen and (max-width: 990px) {
            width: 100%;
          }
        }
        .capture_button2 {
          @include capture;
          @media screen and (max-width: 990px) {
            width: 100%;
            margin-top: 0.8rem;
          }
        }
      }
    }
  }
}
